<style>
#intro {
	padding-top: 60px;
    background-color: #17baef;
    padding-bottom: 150px;
}

#about {
    background-color: #c9302c;
    color: white;
    height: 100%;
    padding-bottom: 150px;
}
</style>
<section id="intro">
    <div class="container">
        <div class="jumbotron">
            <h1>GREETINGS, I AM YAKO-TRON 9000</h1>
            <p class="lead">
                My CPU is a neural net processor; a learning computer. I was constructed by computer scientist, Daniel Yakobian, in the year 2029 and sent back through the time displacement field. PRIORITY ONE: provide data on my creator and his interests.
            </p>
            <a class="btn btn-lg btn-danger" ng-click="jumpToLocation('about')" role="button">Who is Daniel?</a>
            <a href="https://www.youtube.com/watch?v=zS1cLOIxsQ8" class="btn btn-primary btn-lg pull-right" role="button">Give me blissful ignorance.</a>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <br>
        <br>
        <br>
        <h1 class="text-center">A Message From Master</h1>
        <hr>
        <h4 class="lead">&nbsp;&nbsp;&nbsp;&nbsp;I could easily talk about my passion for computers and technology, but I believe the most important thing I can expand on is my involvement in The Fraternity of Phi Gamma Delta (aka FIJI), considering how much it has developed and matured me. After becoming a brother of FIJI, I spent a semester as Scholarship Chair. As scholarship chair, I implemented a new comprehensive digital scholarship file system, held a Bubble Tea scholarship event, met formally and informally with brothers and pledges about grades, set up a time management presentation, set up a career center workshop and put a faculty advisor in place. My commitment to scholarship chair demonstrates my leadership skills, motivation and organization skills. The results I provided at my position got me elected to the Recording Secretary officer position, third highest ranking position in the Fraternity. The recording secretary position requires a leader with extraordinary organization skills, someone who can meticulously keep track of things, a person to manage efficient inter-fraternal communications, and most importantly a leader. This position suited me because I've always been a person who’s been motivated to take action against impracticality and inefficiency in structure or organization.
        <br><br><strong>INCOMING MESSAGE FROM YAKO-TRON:</strong> I have generated a curriculum vitae on behalf of my master. To view my generated report, click learn more.</h4>
        <a href="/contact" class="btn btn-primary btn-lg pull-left" role="button">Learn more</a> 
        <a class="btn btn-primary btn-lg pull-right" ng-click="jumpToLocation('features')" role="button">YAKO-TRON, what else can you do?</a>
    </div>
    <br>
</section>
<section id="features">
	<div class="container">
		features
	</div>
</section>
