<style>
	#contact-container {
		padding-top: 60px;
	}
</style>
<div class="container" id="contact-container">
    <a href="http://www.yakobian.com/resume.pdf" class="btn btn-primary pull-left" role="button">View Resume Online</a>
    <a href="http://www.yakobian.com/resume.pdf" class="btn btn-primary pull-right" role="button" download>Download Resume</a>
</div>
